body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3cpath d='M2093.3205817706075 495.3786168180477L1771.2961080627415 83.20608633428452 1359.1235775789783 405.2305600421506 1681.1480512868443 817.4030905259137z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M483.771%2c2535.156C626.357%2c2530.789%2c775.639%2c2491.291%2c846.028%2c2367.214C915.711%2c2244.381%2c865.961%2c2100.251%2c801.889%2c1974.4C728.896%2c1831.027%2c644.617%2c1659.152%2c483.771%2c1655.667C319.987%2c1652.119%2c219.588%2c1816.42%2c140.848%2c1960.078C66.199%2c2096.273%2c1.381%2c2257.254%2c80.925%2c2390.649C159.236%2c2521.976%2c330.94%2c2539.837%2c483.771%2c2535.156' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M865.1426948219569 458.579339424494L1331.664057645176 279.4985666609516 1152.5832848816335-187.02279616226753 686.0619220584144-7.942023398725155z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1618.605%2c1996.822C1770.573%2c1997.898%2c1944.38%2c2004.376%2c2026.635%2c1876.589C2113.291%2c1741.965%2c2074.604%2c1561.947%2c1983.091%2c1430.576C1903.377%2c1316.143%2c1758.058%2c1289.424%2c1618.605%2c1290.844C1482.373%2c1292.231%2c1343.85%2c1325.545%2c1266.75%2c1437.869C1178.703%2c1566.14%2c1137.578%2c1739.214%2c1220.461%2c1870.881C1299.939%2c1997.139%2c1469.419%2c1995.766%2c1618.605%2c1996.822' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M851.9338521840256 928.4069249665287L1389.4085716191767 732.782125421555 1193.7837720742027 195.30740598640398 656.3090526390519 390.9322055313777z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M913.3115407672066 1776.197420483696L832.1851346426891 2078.965289975862 1134.953004134855 2160.0916961003795 1216.0794102593725 1857.3238266082135z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1431.5372862223612 772.190906126642L1113.3998207294396 913.4716925467827 1356.418024948429 1096.59904458471z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M750.0167250814368 1987.6402949146534L1245.6292076976472 2120.439259390451 1378.4281721734449 1624.8267767742407 882.8156895572345 1492.027812298443z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M121.87199430343492 658.2850420927782L282.5178484034642 1185.5305798007914 617.2143117982542 838.9422460369899z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M837.3689323050974 1397.8893287471979L679.0145950643104 1722.5638347227268 1003.6891010398394 1880.918171963514 1162.0434382806263 1556.243665987985z' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1845.888%2c574.45C1944.352%2c577.142%2c2053.036%2c560.335%2c2103.27%2c475.606C2154.195%2c389.713%2c2120.586%2c283.69%2c2068.948%2c198.223C2019.428%2c116.262%2c1941.641%2c50.68%2c1845.888%2c49.611C1748.472%2c48.524%2c1662.117%2c108.417%2c1614.036%2c193.147C1566.599%2c276.742%2c1561.84%2c380.045%2c1611.777%2c462.171C1659.971%2c541.431%2c1753.161%2c571.915%2c1845.888%2c574.45' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M716.149%2c1608.358C835.858%2c1604.579%2c922.617%2c1503.597%2c975.765%2c1396.266C1022.524%2c1301.839%2c1018.085%2c1193.701%2c967.158%2c1101.456C914.278%2c1005.675%2c825.548%2c927.53%2c716.149%2c926.02C604.509%2c924.479%2c509.868%2c998.367%2c452.845%2c1094.358C394.395%2c1192.75%2c374.32%2c1311.749%2c426.498%2c1413.606C483.351%2c1524.59%2c591.513%2c1612.293%2c716.149%2c1608.358' fill='rgba(44%2c 126%2c 181%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 250px;
}

h2 {
    margin-bottom: 10px;
    font-size: 14px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 10px;
}

.form-group input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}

button {
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #1d5981;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

.social-login {
    margin-top: 10px;
}

.social-login p {
    margin-bottom: 4px;
    font-size: 10px;
}

.google-login, .facebook-login {
    padding: 6px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 6px;
}

#text-or-login{
    margin-top: 20px;
}
.google-login {
    background-color: #db4437;
    color: white;
}

.google-login:hover {
    background-color: #c33d2e;
}

.facebook-login {
    background-color: #3b5998;
    color: white;
}

.facebook-login:hover {
    background-color: #324b7e;
}

.register {
    margin-top: 10px;
}

.register p {
    font-size: 10px;
}

.register a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}
