body {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 238, 238);
    overflow-x: hidden;
    height: 100%;
}

html{
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

#logo {
    width: 2em;
    height: 2em;
}

.container {
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
    align-items: stretch; /* Make columns same height */
    height:100%;
}

.profile {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 228, 228);
    height: 100%;
    flex-shrink: 1;
    padding: 40px;
}

.profile img {
    width: 300px; /* Rectangle profile picture */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px;
}

/* .profile-info {
    text-align: center;
} */

.medical-info {
    padding-top: 60px;
    padding-left: 50px;

    flex-grow: 1;
}

h2 {
    margin-top: 0;
}

p {
    margin: 5px 0;
}

.account-options {
    padding-top: 50px;
}

.account-options ul {
    list-style-type: none;
    padding: 0;
}

.account-options ul li {
    padding: 10px 0;
    grid-template-areas: 30px;
    padding-bottom: 50px;
}

.account-options ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: medium;
    
}

.account-options ul li a:hover {
    text-decoration: none;
    color: #3498db;
}

#name-container {
    border-bottom: #838282 solid 1px;
    margin-right: 70px;
}
#name{
    font-size: 50px;

}

#info-container >p {
    margin-top: 3em;
    font-size: medium;
}